<section class="footer-wrapper fullwidth-bg">
  <div class="row">
    <div class="large-8 columns large-offset-2">
      <div class="large-3 columns first">
        <span class="footer-header">Jct</span>
        <ul>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Tour", tour_path %>
          </li>
          <li>
            <%= link_to "Pricing", pricing_path %>
          </li>
          <li>
            <a href="#" data-reveal-id="register-modal">Register</a>
          </li>
        </ul>
      </div>
      <div class="large-3 columns">
        <span class="footer-header">About</span>
        <ul>
          <li>
            <%= link_to "Terms of Service", terms_path %>
          </li>
        </ul>
      </div>
      <div class="large-3 columns">
        <span class="footer-header">Help</span>
        <ul>
          <li>
            <%= link_to "Help Center", help_path %>
          </li>
          <li>
            <%= link_to "Contact Us", contact_us_path %>
          </li>
        </ul>
      </div>
      <div class="large-3 columns">
        <span class="footer-header">Connect</span>
        <ul>
          <li>
            <a href="https://www.facebook.com/AAnthonyCorp" target="_blank">
              <span class="icon facebook">&nbsp;</span>Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/A_AnthonyCorp " target="_blank">
              <span class="icon twitter">&nbsp;</span>Twitter
            </a>
          </li>
        </ul>
      </div>

      <hr>
      <div class="copywright-wrapper">
        <span class="copywright">&#169; JustCallTony.com</span>
      </div>
    </div>
  </div>
</section>