<section class="hero-wrapper fullwidth-bg below-nav">
  <div class="row hero-row">
    <div class="large-12 hero-content">
      <section class="hero strapline">
        <h1>
          Managing contractors for your commercial building<br>
          repairs suck. Let Tony show you how he can help.
        </h1>
        <h2>Any service. Any US location. Anytime.</h2>
        <div class="buttons">
          <a href="#" class="button yellow" data-reveal-id="register-modal">Register <span>.</span> It's Free</a>
          <a href="#" class="button transparent" data-reveal-id="register-modal">Order Service</a>
        </div>
      </section>
      <a href="#" class="down-arrrow">
        <span>Learn More</span>
      </a>
    </div>
  </div>
</section>
  
<section class="works-wrapper fullwidth-bg">
  <div class="row work-row">
    <div class="large-10 columns large-offset-1">
      <div class="title-wrapper center">
        <span class="small-title top-padding">How does it work?</span>
      </div>
      
      <div class="right-part">
        <div class="large-6 columns you-order">
          <h2>You Order</h2>
          <h3 class="light-header">
            It takes just a few short steps to register with us and place an order
          </h3>
          <p>
            We make it simple. All we need is your contact info, a current credit card on file and a 
            description of the work you need. From there, our super fantastic client service team 
            takes charge to make sure we know exactly what you need and when you need it. Once you’re 
            set up, you can email, web order or call us. You decide!
          </p>
        </div>
        <div class="large-6 columns">
          <%= image_tag 'home/you-order.png' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row work-row">
    <div class="large-10 columns large-offset-1">
      <div class="left-part">
        <div class="large-6 columns">
          <ul data-orbit class="manage-slider">
            <li>
              <%= image_tag 'home/we-manage.png' %>
            </li>
            <li>
              <%= image_tag 'home/we-manage-2.png' %>
            </li>
          </ul>
        </div>
        <div class="large-6 columns">
          <div class="we-manage">
            <h2>We Manage</h2>
            <h3 class="light-header">
              Our people and technology make it simple to track your projects
            </h3>
            <p>
              Once your work is ordered, you’ll be hearing from your client service team member who is 
              responsible for managing your work request. Our “every call, every time” checklist controls 
              the quality of our service; verbally verifying your needs, scheduling the work, communicating 
              to you and the supplier on schedule and verifying work completion.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row work-row">
    <div class="large-10 columns large-offset-1">
      <div class="right-part">
        <div class="large-6 columns its-done">
          <h2>It's Done</h2>
          <h3 class="light-header">
            Once the work is done to your satisfaction, we bill your account
          </h3>
          <p>
            Your work is done. Now it’s our job to make sure everything met your expectations. We’ll make 
            sure you are happy, review the details of the job and cost, and make sure you’re ok with everything.
             When you approve, we bill your account. And if you’re like most of our clients, you’ll be back 
            for more!
          </p>
        </div>
        <div class="large-6 columns">
          <%= image_tag 'home/its-done.png' %>
        </div>
      </div>
    </div>
  </div>
</section>
    
<section class="powering-it-wrapper fullwidth-bg">
  <div class="row">
    <div class="large-12 powering-it-content">
      <div class="large-6 columns">
        <%= image_tag 'home/clients3.png' %>
      </div>
      
      <div class="large-6 columns">
        <div class="common-content-block">
          <span class="small-title">What's powering Just Call Tony?</span><br>
          <h2>A. Anthony Corp. One of the best secrets in facility management.</h2>
          <p>
            A. Anthony Corp. provides any building service, at any location, anytime, to the largest 
            companies in the world. And guess what? You’ve been in buildings they take care of and you 
            use products they support the building for. Like who? Ever go to Marshalls, Starbucks or 
            eat an Oreo cookie? You’re busy and need help. Try us. Or as we like to say “Watch us work”. 
            We guarantee you’ll be happy.
          </p>

          <p class="website-link">See more at <a href="http://www.aanthonycorp.com/">A. Anthony Corp.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="questions-wrapper fullwidth-bg">
  <div class="row">
    <div class="large-12 columns">
      <div class="title-wrapper">
        <span class="small-title top-padding">Common Questions</span>
      </div>
      
      <div class="large-3 columns first">
        <strong>How much does it cost?</strong>
        <p>
          90&#37; of our work orders cost less that &#36;500, and all orders have a “Not to Exceed” 
          amount of &#36;500. If a work order is more than that, we contact you for approval before 
          anything is done.
        </p>
        <a href="pricing.html">Learn more about pricing</a>
      </div>
      <div class="large-3 columns">
        <strong>Are your suppliers insured?</strong>
        <p>
          Our network of certified suppliers are fully insured and continuously evaluated for proper 
          and up to date coverage.
        </p>
      </div>
      <div class="large-3 columns">
        <strong>Who do i contact if i need help?</strong>
        <p>
          We're always available to answer any of your questions by phone, email or your dashboard. 
          And, you have access to your own dedicated Project Manager.
        </p>
        <a href="contact.html">Learn more about customer service</a>
      </div>
      <div class="large-3 columns">
        <strong>Is my payment info safe?</strong>
        <p>
          Absolutely! We know how important your information is. That’s why we take all necessary 
          precautions to protect your data.
        </p>
      </div>
    </div>
  </div>
</section>